<form>
    <div class="mx-auto" style="width: 400px; margin-top: 100px;">
        <div class="d-grid gap-3">
            <div class="p-2 bg-light border">
                <h1>Login</h1>
            </div>
            <div class="p-2 bg-light border">
                <h2>
                    <input type="text" pInputText class="p-inputtext-lg" placeholder="Username">
                </h2>
            </div>
            <div class="p-2 bg-light border">
                <h2>
                    <input type="password" pInputText class="p-inputtext-lg" placeholder="Password">
                </h2>
            </div>
            <div class="p-2 bg-light border">
                <h2><button type="button" (click)="submitLogin()">Submit</button></h2>
            </div>
        </div>
    </div>
</form>