<form [formGroup]="loginForm">
    <div class="mx-auto" style="width: 400px; margin-top: 100px;">
        <div class="d-grid gap-3">
            <div class="p-2 bg-light border">
                <h1>{{'Login.LOGIN' | translate}}</h1>
            </div>
            <div class="p-2 bg-light border">
                <h2>
                    <input type="text"  [(ngModel)]="user_name" pInputText class="p-inputtext-lg" placeholder="{{'Login.USERNAME' | translate}}" formControlName="username">
                </h2>
            </div>
            <div class="p-2 bg-light border">
                <h2>
                    <input type="password" [(ngModel)]="user_password" pInputText class="p-inputtext-lg" placeholder="{{'Login.PASSWORD' | translate}}" formControlName="password"/>
                </h2> 
            </div>
            <div class="p-2 bg-light border">
                <h2><button type="button" class="btn btn-primary" (click)="submitLogin()" [disabled]="!loginForm.valid">{{'Login.SUBMIT' | translate}}</button></h2>
            </div>
            <span class="text-danger" role="alert" *ngIf="invalidUser">
                {{'Login.LOGIN_ERROR' | translate}}
            </span>
        </div>
    </div>
</form>