<div style="margin-bottom: 5em;">
  <div class="card" *ngFor="let cartItem of cartModel.cartItem">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 offset-md-3">
          <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src={{cartItem.image}} width="150px" height="200px">
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="card-title">{{cartItem.name}}</h5>
          <p class="card-text">Price : {{cartItem.price | currency: 'INR'}}</p>
          <p class="card-text">Quantity</p>
          <select #quantity (change)="quantityChanged(cartItem.id, $event)">
            <option [value]="1">1</option>
            <option [value]="2">2</option>
            <option [value]="3">3</option>
            <option [value]="4">4</option>
            <option [value]="5">5</option>
          </select>
          <h2><button type="button" style="margin-top: 30px;" class="btn btn-primary" (click)="remove(cartItem.id)">Remove</button></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row"  style="align-items: center; flex-direction: column; padding-right: 14%;" *ngIf="cartModel.cartItem.length!=0; else elseBlock">

    <div class="row cart-total">
      <div class="col-lg-offset-6">
          <div class="cart-total-row row">
              <h3>
                  Cart overview
              </h3>
          </div>
          <div class="cart-total-row row">
              <div class="col-md-6 cart-total-label">
                  subtotal
              </div>
              <div class="col-md-6 cart-total-value">
                  {{totalPrice | currency :'INR':true}}
              </div>
          </div>
          <div class="cart-total-row row">
              <div class="col-md-6 cart-total-label">
                  total
              </div>
              <div class="col-md-6 cart-total-value cart-total-price">
                  {{totalPrice | currency :'INR':true}}
              </div>
          </div>
      </div>
  </div>
    <div class="p-2 bg-light border" style="align-items: center;display: flex;padding-left: 43%;">
      <h2><button type="button" class="btn btn-primary" (click)="checkout()">Checkout</button></h2>
    </div>
  </div>
  <ng-template #elseBlock><h4>Your Cart is Empty.</h4></ng-template>
</div>