<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['home']" routerLinkActive="active">ShopFast </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" (click)="Login()"><span
            *ngIf="localStorageUser.getItem('isLoggedIn') == 'true'; else elseBlock">{{'Login.LOGOUT' | translate}}</span></a>
        <ng-template #elseBlock>{{'Login.LOGIN' | translate}}</ng-template>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cart']" routerLinkActive="active">{{'HomePage.MY_CART' | translate}}</a>
      </li>
    </ul>

    <select #langselect style="margin-right: 20px;"  (change)="languageChanged($event)">
      <option [value]="0">Change Language</option>
      <option [value]="1"> English</option>
      <option [value]="2">French</option>
    </select>
    
    <p-dropdown [options]="categories" (onChange)="categoryChanged()" [(ngModel)]="categoryName"
      style="margin-right: 20px;" optionLabel="name"></p-dropdown>

    <form class="form-inline" justify-content-center>
      <input class="form-control mr-sm-2" #searchText type="search" placeholder="{{'HomePage.SEARCH' | translate}}"
        aria-label="Search">

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchProduct(searchText.value)">{{'HomePage.SEARCH' | translate}}</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
<app-footer class="mt-auto"></app-footer>